 body {
 	background: #f4f6f9;
 }

 .register-container {
 	max-width: 500px;
 	margin: 5% auto;
 	padding: 30px;
 	background: #ffffff;
 	border-radius: 12px;
 	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
 }

 .register-container h2 {
 	margin-bottom: 25px;
 	font-weight: bold;
 	text-align: center;
 	color: #333;
 }

 .btn-primary {
 	width: 100%;
 }
 
 